In [54]:
pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/45/b0/9d6860891ab14a39d4bddf80ba26ce51c2f9dc4805e5c6978ac0472c120a/pyspark-3.1.1.tar.gz (212.3MB)
Collecting py4j==0.10.9 (from pyspark)
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.1.1-py2.py3-none-any.whl size=212767610 sha256=b6bd3daf70b4d42c0063dba10d976c4fb413823b484ebba6bf318d7c31996f7e
  Stored in directory: C:\Users\dharu\AppData\Local\pip\Cache\wheels\0b\90\c0\01de724414ef122bd05f056541fb6a0ecf47c7ca655f8b3c0f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.1
Note: you may need to restart the kernel to use updated packages.

In [55]:
import pandas as pd
import numpy as np
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf

In [12]:
dep = pd.read_csv(r'C:\Users\dharu\Documents\Studies\Q7\DS672\Data\Mer\fdp.csv')

In [96]:
dep.shape

(1288111, 18)

In [14]:
dep

,DateMMDDYYYY,FlightNumber,TailNumber,DestinationAirport,Scheduleddeparturetime,Actualdeparturetime,ScheduledelapsedtimeMinutes,ActualelapsedtimeMinutes,DeparturedelayMinutes,Wheelsofftime,TaxiOuttimeMinutes,DelayCarrierMinutes,DelayWeatherMinutes,DelayNationalAviationSystemMinutes,DelaySecurityMinutes,DelayLateAircraftArrivalMinutes,DepartureAirport,Scheduled Hour
0,1/1/2016,325,N66831,IAD,13:53:00,13:58:00,132,122,5,14:10:00,12,0,0,0,0,0,33607,13
1,1/1/2016,352,N75436,IAD,19:27:00,20:00:00,132,113,33,20:09:00,9,0,0,0,0,0,33607,19
2,1/1/2016,588,N77261,ORD,6:10:00,6:09:00,181,166,-1,6:23:00,14,0,0,0,0,0,33607,6
3,1/1/2016,651,N68836,ORD,16:21:00,16:13:00,181,163,-8,16:30:00,17,0,0,0,0,0,33607,16
4,1/1/2016,667,N76254,ORD,8:30:00,8:25:00,180,173,-5,8:47:00,22,0,0,0,0,0,33607,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1288106,12/31/2020,1726,N26909,ORD,10:55:00,10:56:00,248,241,1,11:16:00,20,0,0,0,0,0,94128,10
1288107,12/31/2020,1857,N57863,ORD,0:05:00,23:57:00,243,236,-8,0:11:00,14,0,0,0,0,0,94128,0
1288108,12/31/2020,1923,N76532,IAH,7:20:00,7:17:00,226,217,-3,7:28:00,11,0,0,0,0,0,94128,7
1288109,12/31/2020,2264,N407UA,LAX,19:00:00,18:57:00,89,70,-3,19:09:00,12,0,0,0,0,0,94128,19
1288110,12/31/2020,2356,N464UA,ORD,16:28:00,16:26:00,246,244,-2,16:40:00,14,0,0,0,0,0,94128,16

In [126]:
we = pd.read_csv(r'C:\Users\dharu\Documents\Studies\Q7\DS672\Data\Mer\w.csv')

In [127]:
we.shape

(482328, 26)

In [128]:
we

,date,time,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,moon_illumination,moonrise,moonset,...,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph,city
0,1/1/16,0,26,21,0.0,10.3,6,50,12:45 PM,1:04 PM,...,3,50,90,0.0,1019,22,10,190,2,33607
1,1/1/16,1,26,21,0.0,10.3,6,50,12:45 PM,1:04 PM,...,6,37,90,0.0,1019,22,10,192,3,33607
2,1/1/16,2,26,21,0.0,10.3,6,50,12:45 PM,1:04 PM,...,9,25,91,0.0,1019,22,10,193,5,33607
3,1/1/16,3,26,21,0.0,10.3,6,50,12:45 PM,1:04 PM,...,11,12,91,0.0,1018,22,10,194,6,33607
4,1/1/16,4,26,21,0.0,10.3,6,50,12:45 PM,1:04 PM,...,11,13,92,0.0,1019,22,10,191,6,33607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
482323,12/31/20,19,7,-2,0.0,5.2,2,89,7:08 PM,9:42 AM,...,19,61,57,0.0,1026,5,10,325,15,11371
482324,12/31/20,20,7,-2,0.0,5.2,2,89,7:08 PM,9:42 AM,...,18,48,57,0.0,1027,4,10,328,14,11371
482325,12/31/20,21,7,-2,0.0,5.2,2,89,7:08 PM,9:42 AM,...,17,35,58,0.0,1028,4,10,330,13,11371
482326,12/31/20,22,7,-2,0.0,5.2,2,89,7:08 PM,9:42 AM,...,15,33,60,0.0,1029,3,10,339,11,11371
482327,12/31/20,23,7,-2,0.0,5.2,2,89,7:08 PM,9:42 AM,...,12,30,62,0.0,1029,3,10,348,9,11371

In [18]:
df = dep.rename(columns = {'DateMMDDYYYY':'date','Scheduled Hour':'time','DepartureAirport':'city'} )

In [101]:
df.head(20)

,date,FlightNumber,TailNumber,DestinationAirport,Scheduleddeparturetime,Actualdeparturetime,ScheduledelapsedtimeMinutes,ActualelapsedtimeMinutes,DeparturedelayMinutes,Wheelsofftime,TaxiOuttimeMinutes,DelayCarrierMinutes,DelayWeatherMinutes,DelayNationalAviationSystemMinutes,DelaySecurityMinutes,DelayLateAircraftArrivalMinutes,city,time
0,2016-01-01,325,N66831,IAD,13:53:00,13:58:00,132,122,5,14:10:00,12,0,0,0,0,0,33607,13
1,2016-01-01,352,N75436,IAD,19:27:00,20:00:00,132,113,33,20:09:00,9,0,0,0,0,0,33607,19
2,2016-01-01,588,N77261,ORD,6:10:00,6:09:00,181,166,-1,6:23:00,14,0,0,0,0,0,33607,6
3,2016-01-01,651,N68836,ORD,16:21:00,16:13:00,181,163,-8,16:30:00,17,0,0,0,0,0,33607,16
4,2016-01-01,667,N76254,ORD,8:30:00,8:25:00,180,173,-5,8:47:00,22,0,0,0,0,0,33607,8
5,2016-01-01,735,N37255,IAD,9:20:00,9:17:00,132,118,-3,9:29:00,12,0,0,0,0,0,33607,9
6,2016-01-01,1166,N404UA,IAH,16:54:00,16:47:00,151,177,-7,17:10:00,23,0,0,19,0,0,33607,16
7,2016-01-01,1797,N72405,IAH,11:28:00,11:24:00,153,140,-4,11:40:00,16,0,0,0,0,0,33607,11
8,2016-01-01,1948,N475UA,IAH,15:15:00,15:14:00,151,143,-1,15:33:00,19,0,0,0,0,0,33607,15
9,2016-01-01,2039,N401UA,IAH,8:40:00,8:44:00,150,135,4,8:55:00,11,0,0,0,0,0,33607,8
10,2017-01-01,40,N422UA,IAH,14:30:00,14:30:00,150,129,0,14:41:00,11,0,0,0,0,0,33607,14
11,2017-01-01,152,N24202,IAH,8:55:00,9:32:00,149,128,37,9:43:00,11,16,0,0,0,0,33607,8
12,2017-01-01,325,N12225,IAD,12:35:00,12:31:00,130,120,-4,12:42:00,11,0,0,0,0,0,33607,12
13,2017-01-01,352,N66841,IAD,19:10:00,18:59:00,130,121,-11,19:12:00,13,0,0,0,0,0,33607,19
14,2017-01-01,588,N69840,ORD,5:50:00,5:40:00,174,152,-10,5:51:00,11,0,0,0,0,0,33607,5
15,2017-01-01,651,N62883,ORD,16:30:00,16:26:00,175,153,-4,16:38:00,12,0,0,0,0,0,33607,16
16,2017-01-01,735,N17229,IAD,9:10:00,9:03:00,130,118,-7,9:14:00,11,0,0,0,0,0,33607,9
17,2017-01-01,1193,N36476,ORD,10:40:00,10:43:00,175,151,3,10:56:00,13,0,0,0,0,0,33607,10
18,2017-01-01,1234,N835UA,IAH,16:46:00,18:35:00,153,146,109,18:53:00,18,18,0,0,0,84,33607,16
19,2017-01-01,1797,N62884,IAH,11:10:00,12:21:00,149,131,71,12:32:00,11,0,0,0,0,53,33607,11

In [114]:
we.head(20)

,date,time,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,moon_illumination,moonrise,moonset,...,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph,city
0,2016-01-01,0,26,21,0.0,10.3,6,50,12:45 PM,1:04 PM,...,3,50,90,0.0,1019,22,10,190,2,33607
1,2016-01-01,1,26,21,0.0,10.3,6,50,12:45 PM,1:04 PM,...,6,37,90,0.0,1019,22,10,192,3,33607
2,2016-01-01,2,26,21,0.0,10.3,6,50,12:45 PM,1:04 PM,...,9,25,91,0.0,1019,22,10,193,5,33607
3,2016-01-01,3,26,21,0.0,10.3,6,50,12:45 PM,1:04 PM,...,11,12,91,0.0,1018,22,10,194,6,33607
4,2016-01-01,4,26,21,0.0,10.3,6,50,12:45 PM,1:04 PM,...,11,13,92,0.0,1019,22,10,191,6,33607
5,2016-01-01,5,26,21,0.0,10.3,6,50,12:45 PM,1:04 PM,...,10,14,92,0.0,1019,22,10,188,5,33607
6,2016-01-01,6,26,21,0.0,10.3,6,50,12:45 PM,1:04 PM,...,10,16,93,0.0,1019,21,10,184,5,33607
7,2016-01-01,7,26,21,0.0,10.3,6,50,12:45 PM,1:04 PM,...,10,12,89,0.0,1019,22,10,188,6,33607
8,2016-01-01,8,26,21,0.0,10.3,6,50,12:45 PM,1:04 PM,...,11,9,85,0.0,1019,23,10,192,7,33607
9,2016-01-01,9,26,21,0.0,10.3,6,50,12:45 PM,1:04 PM,...,12,6,80,0.0,1020,24,10,196,9,33607
10,2017-01-01,10,26,21,0.0,10.3,6,50,12:45 PM,1:04 PM,...,13,5,75,0.0,1019,25,10,207,10,33607
11,2017-01-01,11,26,21,0.0,10.3,6,50,12:45 PM,1:04 PM,...,15,5,71,0.0,1019,26,10,218,11,33607
12,2017-01-01,12,26,21,0.0,10.3,6,50,12:45 PM,1:04 PM,...,16,5,66,0.0,1019,26,10,229,13,33607
13,2017-01-01,13,26,21,0.0,10.3,6,50,12:45 PM,1:04 PM,...,19,6,67,0.0,1018,26,10,244,14,33607
14,2017-01-01,14,26,21,0.0,10.3,6,50,12:45 PM,1:04 PM,...,21,8,69,0.0,1018,26,10,260,16,33607
15,2017-01-01,15,26,21,0.0,10.3,6,50,12:45 PM,1:04 PM,...,24,9,71,0.0,1018,26,10,275,18,33607
16,2017-01-01,16,26,21,0.0,10.3,6,50,12:45 PM,1:04 PM,...,25,22,77,0.0,1018,25,10,296,19,33607
17,2017-01-01,17,26,21,0.0,10.3,6,50,12:45 PM,1:04 PM,...,27,36,84,0.0,1019,23,10,316,19,33607
18,2017-01-01,18,26,21,0.0,10.3,6,50,12:45 PM,1:04 PM,...,29,50,90,0.0,1019,22,10,337,20,33607
19,2017-01-01,19,26,21,0.0,10.3,6,50,12:45 PM,1:04 PM,...,27,51,90,0.0,1019,22,10,344,19,33607

In [139]:
df['TailNumber'].isn

0

In [135]:
result1 = pd.merge( df, we, on = ["city", "date","time"])

In [136]:
result1.head(20)

,date,FlightNumber,TailNumber,DestinationAirport,Scheduleddeparturetime,Actualdeparturetime,ScheduledelapsedtimeMinutes,ActualelapsedtimeMinutes,DeparturedelayMinutes,Wheelsofftime,...,WindChillC,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph
0,2016-01-01,325,N66831,IAD,13:53:00,13:58:00,132,122,5,14:10:00,...,26,19,6,67,0.0,1018,26,10,244,14
1,2016-01-01,542,N521NK,ATL,13:36:00,14:19:00,86,88,43,14:32:00,...,26,19,6,67,0.0,1018,26,10,244,14
2,2016-01-01,1373,N971DL,ATL,13:45:00,13:41:00,96,83,-4,13:52:00,...,26,19,6,67,0.0,1018,26,10,244,14
3,2016-01-01,352,N75436,IAD,19:27:00,20:00:00,132,113,33,20:09:00,...,22,27,51,90,0.0,1019,22,10,344,19
4,2016-01-01,871,N803AW,LAX,19:05:00,19:24:00,343,316,19,19:38:00,...,22,27,51,90,0.0,1019,22,10,344,19
5,2016-01-01,588,N77261,ORD,6:10:00,6:09:00,181,166,-1,6:23:00,...,21,10,16,93,0.0,1019,21,10,184,5
6,2016-01-01,651,N68836,ORD,16:21:00,16:13:00,181,163,-8,16:30:00,...,25,25,22,77,0.0,1018,25,10,296,19
7,2016-01-01,1166,N404UA,IAH,16:54:00,16:47:00,151,177,-7,17:10:00,...,25,25,22,77,0.0,1018,25,10,296,19
8,2016-01-01,2172,N961DN,ATL,16:45:00,16:39:00,100,92,-6,16:53:00,...,25,25,22,77,0.0,1018,25,10,296,19
9,2016-01-01,667,N76254,ORD,8:30:00,8:25:00,180,173,-5,8:47:00,...,23,11,9,85,0.0,1019,23,10,192,7
10,2016-01-01,2039,N401UA,IAH,8:40:00,8:44:00,150,135,4,8:55:00,...,23,11,9,85,0.0,1019,23,10,192,7
11,2016-01-01,969,N835DN,ATL,8:30:00,8:33:00,97,78,3,8:43:00,...,23,11,9,85,0.0,1019,23,10,192,7
12,2016-01-01,2650,N975AT,JFK,8:35:00,8:30:00,160,143,-5,8:45:00,...,23,11,9,85,0.0,1019,23,10,192,7
13,2016-01-01,735,N37255,IAD,9:20:00,9:17:00,132,118,-3,9:29:00,...,24,12,6,80,0.0,1020,24,10,196,9
14,2016-01-01,1186,N3MYAA,ORD,9:10:00,9:09:00,178,163,-1,9:18:00,...,24,12,6,80,0.0,1020,24,10,196,9
15,2016-01-01,1797,N72405,IAH,11:28:00,11:24:00,153,140,-4,11:40:00,...,26,15,5,71,0.0,1019,26,10,218,11
16,2016-01-01,1891,N951DN,ATL,11:45:00,11:38:00,96,89,-7,11:51:00,...,26,15,5,71,0.0,1019,26,10,218,11
17,2016-01-01,1948,N475UA,IAH,15:15:00,15:14:00,151,143,-1,15:33:00,...,26,24,9,71,0.0,1018,26,10,275,18
18,2016-01-01,410,N926AT,JFK,15:10:00,15:19:00,163,137,9,15:28:00,...,26,24,9,71,0.0,1018,26,10,275,18
19,2016-01-01,2023,N345NW,ATL,15:45:00,15:46:00,94,107,1,16:20:00,...,26,24,9,71,0.0,1018,26,10,275,18

In [112]:
result2 = pd.merge( df, we, on = ["city", "date","time"] , how = 'right')

In [113]:
result2

,date,FlightNumber,TailNumber,DestinationAirport,Scheduleddeparturetime,Actualdeparturetime,ScheduledelapsedtimeMinutes,ActualelapsedtimeMinutes,DeparturedelayMinutes,Wheelsofftime,...,WindChillC,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph
0,2016-01-01,325.0,N66831,IAD,13:53:00,13:58:00,132.0,122.0,5.0,14:10:00,...,27,22,19,63,0.0,1017,27,9,186,15
1,2016-01-01,542.0,N521NK,ATL,13:36:00,14:19:00,86.0,88.0,43.0,14:32:00,...,27,22,19,63,0.0,1017,27,9,186,15
2,2016-01-01,1373.0,N971DL,ATL,13:45:00,13:41:00,96.0,83.0,-4.0,13:52:00,...,27,22,19,63,0.0,1017,27,9,186,15
3,2016-01-01,352.0,N75436,IAD,19:27:00,20:00:00,132.0,113.0,33.0,20:09:00,...,24,18,21,77,0.0,1017,24,10,220,7
4,2016-01-01,871.0,N803AW,LAX,19:05:00,19:24:00,343.0,316.0,19.0,19:38:00,...,24,18,21,77,0.0,1017,24,10,220,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1524229,2017-03-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-3,39,44,66,0.0,1019,-2,10,223,25
1524230,2017-03-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-2,39,58,69,0.0,1019,1,10,226,25
1524231,2017-03-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,39,72,72,0.0,1018,3,10,228,24
1524232,2017-03-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,40,86,76,0.0,1017,6,10,230,24
1524233,2017-03-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,39,90,79,0.0,1017,6,10,232,24

In [137]:
result1.shape

(1288111, 41)

In [138]:
result1.to_csv('final_dep.csv')

In [56]:
sc = SparkContext(conf=SparkConf().setMaster('local[8]'))
spark = SparkSession.builder.getOrCreate()
spark.conf.set("spark.sql.execution.arrow.enabled", "true")

In [57]:
t1 = spark.createDataFrame(df)
t2 = spark.createDataFrame(we)

C:\Users\dharu\AppData\Local\Continuum\anaconda3\lib\site-packages\pyspark\sql\pandas\conversion.py:289: UserWarning: createDataFrame attempted Arrow optimization because 'spark.sql.execution.arrow.pyspark.enabled' is set to true; however, failed by the reason below:
  PyArrow >= 1.0.0 must be installed; however, it was not found.
Attempting non-optimization as 'spark.sql.execution.arrow.pyspark.fallback.enabled' is set to true.
  warnings.warn(msg)

In [60]:
dff = t1.join(t2, on = ["city","date","time"])

In [63]:
dff

DataFrame[city: bigint, date: string, time: bigint, FlightNumber: bigint, TailNumber: string, DestinationAirport: string, Scheduleddeparturetime: string, Actualdeparturetime: string, ScheduledelapsedtimeMinutes: bigint, ActualelapsedtimeMinutes: bigint, DeparturedelayMinutes: bigint, Wheelsofftime: string, TaxiOuttimeMinutes: bigint, DelayCarrierMinutes: bigint, DelayWeatherMinutes: bigint, DelayNationalAviationSystemMinutes: bigint, DelaySecurityMinutes: bigint, DelayLateAircraftArrivalMinutes: bigint, maxtempC: bigint, mintempC: bigint, totalSnow_cm: double, sunHour: double, uvIndex: bigint, moon_illumination: bigint, moonrise: string, moonset: string, sunrise: string, sunset: string, DewPointC: bigint, FeelsLikeC: bigint, HeatIndexC: bigint, WindChillC: bigint, WindGustKmph: bigint, cloudcover: bigint, humidity: bigint, precipMM: double, pressure: bigint, tempC: bigint, visibility: bigint, winddirDegree: bigint, windspeedKmph: bigint]

In [64]:
t1

DataFrame[date: string, FlightNumber: bigint, TailNumber: string, DestinationAirport: string, Scheduleddeparturetime: string, Actualdeparturetime: string, ScheduledelapsedtimeMinutes: bigint, ActualelapsedtimeMinutes: bigint, DeparturedelayMinutes: bigint, Wheelsofftime: string, TaxiOuttimeMinutes: bigint, DelayCarrierMinutes: bigint, DelayWeatherMinutes: bigint, DelayNationalAviationSystemMinutes: bigint, DelaySecurityMinutes: bigint, DelayLateAircraftArrivalMinutes: bigint, city: bigint, time: bigint]

In [67]:
dff.count()

Py4JJavaError: An error occurred while calling o80.count.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 5 in stage 4.0 failed 1 times, most recent failure: Lost task 5.0 in stage 4.0 (TID 15) (Dharun.cable.rcn.com executor driver): org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:182)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:107)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:119)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:145)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:65)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:99)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:52)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:497)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1439)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:500)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)
	at java.lang.Thread.run(Unknown Source)
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.net.DualStackPlainSocketImpl.waitForNewConnection(Native Method)
	at java.net.DualStackPlainSocketImpl.socketAccept(Unknown Source)
	at java.net.AbstractPlainSocketImpl.accept(Unknown Source)
	at java.net.PlainSocketImpl.accept(Unknown Source)
	at java.net.ServerSocket.implAccept(Unknown Source)
	at java.net.ServerSocket.accept(Unknown Source)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:174)
	... 31 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2253)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2202)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2201)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2201)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1078)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1078)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1078)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2440)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2382)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2371)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:868)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2202)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2223)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2242)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2267)
	at org.apache.spark.rdd.RDD.$anonfun$collect$1(RDD.scala:1030)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:414)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:1029)
	at org.apache.spark.sql.execution.SparkPlan.executeCollect(SparkPlan.scala:390)
	at org.apache.spark.sql.Dataset.$anonfun$count$1(Dataset.scala:3006)
	at org.apache.spark.sql.Dataset.$anonfun$count$1$adapted(Dataset.scala:3005)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:3687)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$5(SQLExecution.scala:103)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:163)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:90)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:772)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3685)
	at org.apache.spark.sql.Dataset.count(Dataset.scala:3005)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.lang.reflect.Method.invoke(Unknown Source)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Unknown Source)
Caused by: org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:182)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:107)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:119)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:145)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:65)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:99)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:52)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:497)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1439)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:500)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)
	... 1 more
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.net.DualStackPlainSocketImpl.waitForNewConnection(Native Method)
	at java.net.DualStackPlainSocketImpl.socketAccept(Unknown Source)
	at java.net.AbstractPlainSocketImpl.accept(Unknown Source)
	at java.net.PlainSocketImpl.accept(Unknown Source)
	at java.net.ServerSocket.implAccept(Unknown Source)
	at java.net.ServerSocket.accept(Unknown Source)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:174)
	... 31 more

In [76]:
print (df.dtypes)
print (we.dtypes)

date                                  datetime64[ns]
FlightNumber                                   int64
TailNumber                                    object
DestinationAirport                            object
Scheduleddeparturetime                        object
Actualdeparturetime                           object
ScheduledelapsedtimeMinutes                    int64
ActualelapsedtimeMinutes                       int64
DeparturedelayMinutes                          int64
Wheelsofftime                                 object
TaxiOuttimeMinutes                             int64
DelayCarrierMinutes                            int64
DelayWeatherMinutes                            int64
DelayNationalAviationSystemMinutes             int64
DelaySecurityMinutes                           int64
DelayLateAircraftArrivalMinutes                int64
city                                           int64
time                                           int64
dtype: object
date                  object
time                   int64
maxtempC               int64
mintempC               int64
totalSnow_cm         float64
sunHour              float64
uvIndex                int64
moon_illumination      int64
moonrise              object
moonset               object
sunrise               object
sunset                object
DewPointC              int64
FeelsLikeC             int64
HeatIndexC             int64
WindChillC             int64
WindGustKmph           int64
cloudcover             int64
humidity               int64
precipMM             float64
pressure               int64
tempC                  int64
visibility             int64
winddirDegree          int64
windspeedKmph          int64
city                   int64
dtype: object

In [71]:
a = df['date']

In [73]:
a =  pd.to_datetime(a,format = '%m/%d/%Y')

In [77]:
df['date'] = a

In [129]:
b = we['date']

In [130]:
b

0           1/1/16
1           1/1/16
2           1/1/16
3           1/1/16
4           1/1/16
            ...
482323    12/31/20
482324    12/31/20
482325    12/31/20
482326    12/31/20
482327    12/31/20
Name: date, Length: 482328, dtype: object

In [131]:
b =  pd.to_datetime(b,format = '%m/%d/%y')

In [132]:
b

0        2016-01-01
1        2016-01-01
2        2016-01-01
3        2016-01-01
4        2016-01-01
            ...
482323   2020-12-31
482324   2020-12-31
482325   2020-12-31
482326   2020-12-31
482327   2020-12-31
Name: date, Length: 482328, dtype: datetime64[ns]

In [133]:
we['date'] = b

In [134]:
we

,date,time,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,moon_illumination,moonrise,moonset,...,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph,city
0,2016-01-01,0,26,21,0.0,10.3,6,50,12:45 PM,1:04 PM,...,3,50,90,0.0,1019,22,10,190,2,33607
1,2016-01-01,1,26,21,0.0,10.3,6,50,12:45 PM,1:04 PM,...,6,37,90,0.0,1019,22,10,192,3,33607
2,2016-01-01,2,26,21,0.0,10.3,6,50,12:45 PM,1:04 PM,...,9,25,91,0.0,1019,22,10,193,5,33607
3,2016-01-01,3,26,21,0.0,10.3,6,50,12:45 PM,1:04 PM,...,11,12,91,0.0,1018,22,10,194,6,33607
4,2016-01-01,4,26,21,0.0,10.3,6,50,12:45 PM,1:04 PM,...,11,13,92,0.0,1019,22,10,191,6,33607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
482323,2020-12-31,19,7,-2,0.0,5.2,2,89,7:08 PM,9:42 AM,...,19,61,57,0.0,1026,5,10,325,15,11371
482324,2020-12-31,20,7,-2,0.0,5.2,2,89,7:08 PM,9:42 AM,...,18,48,57,0.0,1027,4,10,328,14,11371
482325,2020-12-31,21,7,-2,0.0,5.2,2,89,7:08 PM,9:42 AM,...,17,35,58,0.0,1028,4,10,330,13,11371
482326,2020-12-31,22,7,-2,0.0,5.2,2,89,7:08 PM,9:42 AM,...,15,33,60,0.0,1029,3,10,339,11,11371
482327,2020-12-31,23,7,-2,0.0,5.2,2,89,7:08 PM,9:42 AM,...,12,30,62,0.0,1029,3,10,348,9,11371